<!doctype html>
<html>
<head>
  <title>Game Time</title>
</head>
<body>
    Time to play!

<form action="/madlib">
    Pick a person:
    <input type="text" name="person">
    Pick a color:
    <select name="color">
        <option value="arctic silver">Arctic Silver</option>
        <option value="Lion Green">Lime Green</option>
        <option value="giraffe color">Giraffe Color</option>
        <option value="White Tiger">White Tiger</option>
        <option value="Emu Blue">Emu Blue</option>
        <option value="hippopotapurple">hippopotapurple</option>
    </select>

    Pick a noun:
    <input type="text" name="noun">
    Pick an adjective:
    <input type="text" name="adjective">
    <input type="submit">



</form>
    
</body>
</html>